@use '../abstracts/' as *;

:root {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 25px;
  font-family: $ff-primary;
  font-weight: $fw-400;
  font-size: fs(400);
}

@include get-body-theme() {
  background-color: themify(main-bg);
  color: themify(text-clr);
}
