@use '../abstracts/' as *;

.button {
  background: none;
  border: none;
  cursor: pointer;

  font-weight: $fw-700;
  border-radius: 10px;
  padding-block: 0.8125em;
  padding-inline: 1.5em;
  @include get-theme() {
    background-color: themify(search-btn-bg);
    color: themify(search-btn-text);
  }
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    @include get-theme() {
      background-color: themify(search-btn-hover-bg);
      color: themify(search-btn-text);
    }
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}
