@use '../abstracts/' as *;

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-button {
  display: flex;
  align-items: center;
  gap: 1.25em;
  @include get-theme() {
    color: themify(toggle-clr);
  }
  font-size: fs(300);
  font-weight: $fw-700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  &:hover {
    @include get-theme() {
      color: themify(toggle-hover-clr);
    }
  }

  &:focus-visible {
    @include get-theme() {
      color: themify(toggle-hover-clr);
      outline: 2px dotted themify(toggle-hover-clr);
      outline-offset: 0.5em;
    }
  }
  &:hover svg path,
  &:focus-visible svg path {
    @include get-theme() {
      fill: themify(toggle-hover-clr);
    }
  }
}

.search-button {
  font-weight: $fw-700;
  border-radius: 10px;
  padding-block: 0.8125em;
  padding-inline: 1.5em;
  @include get-theme() {
    background-color: themify(search-btn-bg);
    color: themify(search-btn-text);
  }
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    @include get-theme() {
      background-color: themify(search-btn-hover-bg);
      color: themify(search-btn-text);
    }
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &:focus {
    @include get-theme() {
      outline: 2px dotted themify(accent-clr);
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }
}
