@use '../abstracts/' as *;

* {
  scrollbar-width: thin;
  @include themify(
    (scrollbar-color, (scrollbar-thumb-clr, scrollbar-track-clr))
  );
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  @include themify((background-color, scrollbar-thumb-clr));
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  @include themify((background-color, scrollbar-track-clr));
  border-radius: 5px;
}

html {
  scrollbar-gutter: stable;
}
