@use '../abstracts/' as *;

.search-bar {
  display: grid;
  grid-template-columns: min-content 1fr 0fr min-content;
  padding-block: 0.6rem;
  padding-inline: 1.5rem 0.6rem;
  @include get-theme() {
    background-color: themify(search-bg);
  }

  &:focus-within {
    @include get-theme() {
      outline: 2px dotted themify(accent-clr);
    }
  }

  .icon {
    align-self: center;
  }

  input {
    max-width: 100%;
    background: none;
    border: none;
    padding-inline: 1em;
    @include get-theme() {
      color: themify(text-input-clr);
      &::placeholder {
        color: themify(text-clr);
      }
    }

    &:focus {
      outline: none;
    }
  }

  .no-user {
    width: fit-content;
    margin-inline: 1.25em;
    align-self: center;
    font-weight: $fw-700;
    @include get-theme() {
      color: themify(error-clr);
    }
  }

  &.error {
    grid-template-columns: min-content 1fr minmax(auto, max-content) min-content;
  }
}
