@use '../abstracts/' as *;

.card-skeleton {
  --skeleton-padding: 48px;

  --profile-pic-size: 64px;
  --profile-pic-position: var(--skeleton-padding) var(--skeleton-padding);

  --profile-pic-skeleton: radial-gradient(
    circle var(--profile-pic-size),
    #b6bdd3 99%,
    transparent 0
  );

  --user-info-width: 128px;
  --user-info-width-small: 96px;
  --user-info-height: 8px;
  --user-info-position-1: calc(
      (var(--skeleton-padding) * 2) + var(--profile-pic-size)
    )
    var(--skeleton-padding);
  --user-info-position-2: calc(
      var(--skeleton-padding) + var(--profile-pic-size) +
        var(--skeleton-padding)
    )
    calc(var(--skeleton-padding) * 1.65);
  --user-info-position-3: calc(
      var(--skeleton-padding) + var(--profile-pic-size) +
        var(--skeleton-padding)
    )
    calc(var(--skeleton-padding) * 2.25);
  --user-info-skeleton: linear-gradient(
    #b6bdd3 var(--user-info-width),
    transparent
  );

  --user-stats-width: calc(100% - (var(--skeleton-padding) * 2));
  --user-stats-height: 80px;
  --user-stats-position: var(--skeleton-padding)
    calc(var(--profile-pic-size) + (var(--skeleton-padding) * 2.5));
  --user-stats-skeleton: linear-gradient(
    #b6bdd3 var(--user-stats-height),
    transparent
  );

  --user-link-width: calc(100% - (var(--skeleton-padding) * 4));
  --user-link-height: 8px;
  --user-link-position-1: var(--skeleton-padding)
    calc(var(--profile-pic-size) + (var(--skeleton-padding) * 5));
  --user-link-position-2: var(--skeleton-padding)
    calc(var(--profile-pic-size) + (var(--skeleton-padding) * 6));
  --user-link-position-3: var(--skeleton-padding)
    calc(var(--profile-pic-size) + (var(--skeleton-padding) * 7));
  --user-link-position-4: var(--skeleton-padding)
    calc(var(--profile-pic-size) + (var(--skeleton-padding) * 8));
  --user-link-skeleton: linear-gradient(
    #b6bdd3 var(--user-link-height),
    transparent
  );

  --blur-width: 192px;
  --blur-height: 512px;
  --blur-size: var(--blur-width) var(--blur-height);

  --animation-time: 2400ms;

  min-height: 512px;
  @include themed-gradient(
    profile-card-bg,
    var(--profile-pic-skeleton),
    var(--user-info-skeleton),
    var(--user-info-skeleton),
    var(--user-info-skeleton),
    var(--user-stats-skeleton),
    var(--user-link-skeleton),
    var(--user-link-skeleton),
    var(--user-link-skeleton),
    var(--user-link-skeleton)
  );

  background-repeat: no-repeat;
  background-size: var(--blur-width) var(--blur-height),
    var(--profile-pic-size) var(--profile-pic-size),
    var(--user-info-width) var(--user-info-height),
    var(--user-info-width-small) var(--user-info-height),
    var(--user-info-width) var(--user-info-height),
    var(--user-stats-width) var(--user-stats-height),
    var(--user-link-width) var(--user-link-height),
    var(--user-link-width) var(--user-link-height),
    var(--user-link-width) var(--user-link-height),
    var(--user-link-width) var(--user-link-height);
  background-position: -150% 0, var(--profile-pic-position),
    var(--user-info-position-1), var(--user-info-position-2),
    var(--user-info-position-3), var(--user-stats-position),
    var(--user-link-position-1), var(--user-link-position-2),
    var(--user-link-position-3), var(--user-link-position-4);
  @include themify((background-color, profile-card-bg));
  animation: card-loading var(--animation-time) infinite;

  @include mq(large) {
    --profile-pic-size: 112px;

    --user-info-position-1: calc(
        (var(--skeleton-padding) * 2) + var(--profile-pic-size)
      )
      var(--skeleton-padding);
    --user-info-position-2: calc(
        var(--skeleton-padding) + var(--profile-pic-size) +
          var(--skeleton-padding)
      )
      calc(var(--skeleton-padding) * 2);
    --user-info-position-3: calc(
        var(--skeleton-padding) + var(--profile-pic-size) +
          var(--skeleton-padding)
      )
      calc(var(--skeleton-padding) * 3);

    --user-stats-width: calc(
      100% - var(--profile-pic-size) - (var(--skeleton-padding) * 2)
    );
    --user-stats-position: calc(
        var(--skeleton-padding) + var(--profile-pic-size)
      )
      calc(var(--profile-pic-size) + (var(--skeleton-padding) * 2.5));

    --user-link-width: 208px;
    --user-link-position-1: calc(
        var(--profile-pic-size) + var(--skeleton-padding)
      )
      calc(var(--profile-pic-size) + (var(--skeleton-padding) * 5.5));
    --user-link-position-2: calc(
        var(--profile-pic-size) + var(--skeleton-padding)
      )
      calc(var(--profile-pic-size) + (var(--skeleton-padding) * 6.5));
    --user-link-position-3: calc(
        var(--profile-pic-size) + var(--skeleton-padding) +
          var(--user-info-width) + var(--user-info-width)
      )
      calc(var(--profile-pic-size) + (var(--skeleton-padding) * 5.5));
    --user-link-position-4: calc(
        var(--profile-pic-size) + var(--skeleton-padding) +
          var(--user-info-width) + var(--user-info-width)
      )
      calc(var(--profile-pic-size) + (var(--skeleton-padding) * 6.5));

    --animation-time: 3200ms;
  }
}

.item-skeleton {
  padding-block: 12px;
  padding-inline: 1rem;
  display: flex;
  gap: 24px;
  align-items: center;
  & > * {
    background-color: #b6bdd3;
  }
  &__pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__name {
    width: 80px;
    height: 8px;
  }
  // --skeleton-padding-block: 12px;
  // --skeleton-padding-inline: 16px;

  // --skeleton-padding: 32px;

  // --skeleton-gap: 24px;

  // --profile-pic-size: 40px;
  // --profile-pic-position: var(--skeleton-padding-inline)
  //   var(--skeleton-padding-block);

  // --profile-pic-skeleton: radial-gradient(
  //   circle 40px,
  //   #b6bdd3 99%,
  //   transparent 0
  // );

  // --user-name-width: 80px;
  // --user-name-height: 8px;
  // --user-name-position: calc(
  //     var(--skeleton-padding-inline) + var(--profile-pic-size) +
  //       var(--skeleton-gap)
  //   )
  //   calc((var(--profile-pic-size) / 2.5) + var(--skeleton-padding-block));
  // --user-name-skeleton: linear-gradient(
  //   #b6bdd3 var(--user-name-width),
  //   transparent
  // );

  // --blur-width: 192px;
  // --blur-height: 64px;
  // --blur-size: var(--blur-width) var(--blur-height);

  // --animation-time: 2400ms;

  // min-height: 64px;

  // background-repeat: no-repeat;
  // background-size: var(--blur-width) var(--blur-height),
  //   var(--profile-pic-size) var(--profile-pic-size),
  //   var(--user-name-width) var(--user-name-height);
  // background-position: -150% 0, var(--profile-pic-position),
  //   var(--user-name-position);
  // @include themed-gradient(profile-card-bg);
  // @include themify((background-color, profile-card-bg));
  // animation: item-loading var(--animation-time) infinite;
}

@keyframes card-loading {
  to {
    background-position: 350% 0, var(--profile-pic-position),
      var(--user-info-position-1), var(--user-info-position-2),
      var(--user-info-position-3), var(--user-stats-position),
      var(--user-link-position-1), var(--user-link-position-2),
      var(--user-link-position-3), var(--user-link-position-4);
  }
}

@keyframes item-loading {
  to {
    background-position: 350% 0, var(--profile-pic-position),
      var(--user-name-position);
  }
}
