@use '../abstracts/' as *;

.stats-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 1.5em;
  text-align: center;
  padding: 1.5rem;
  @include themify((background-color, stats-card-bg));

  dd {
    grid-row: 2;
    @include themify((color, text-accent-clr));
  }

  @include mq(medium) {
    text-align: left;
  }
}
