@use '../abstracts/' as *;

.user-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 0;
  padding: $card-padding;
  @include themify(
    (background-color, profile-card-bg),
    (box-shadow, box-shadow)
  );

  .no-info,
  .no-info svg path {
    opacity: 0.5;
  }

  @include mq(large) {
    grid-template-columns: 7.3125rem 1fr;
    gap: 2rem clamp(1.2rem, 1rem + 3vw, 2.6rem);

    &__header {
      grid-column: 1 / -1;
    }

    & > *:not(&__header) {
      grid-column: 2;
    }
  }
}
